* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 60%;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  
}

.image{
  
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 350px;

}

.icon {
  width: 50px;
  width: 50px;
}


.buttonContainer {
  display: flex;
  justify-content: space-around;
  min-height: 200px;
  min-width: 600px;
}


button{
  width: 60px;
  height: 50px;
  border-radius: 8px;
  border: 0;
  transition: filter 0.2s;
}

.saveButton{
  float: right;
}
.body,.eyes,.mouth {
  border: 2px solid black;
  
  display: flex;
  flex-direction: column;
  width: 33%;

}

.buttonbord{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 10px;
}
.buttonmid{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 5px;
  align-content: center;
  align-items: center;
  
  

  
}

.saveButton {
    width: 25%;
    height: 50px;
    border: 0;
    border-radius: 8px;
    color: #fff;
    background: #e02041;
    font-weight: 700;
    margin-top: 16px;
    
    text-align: center;
    
    font-size: 18px;
    
    transition: filter 0.2s;
  }

  
  button:hover {
    filter: brightness(90%);
  }

